:root{
    --background-color: #030304;
    --second-background-color: white;
    --primary-color: #f5a9b8;
    --secondary-color:  #5bcefa;
    --blur-background: rgba(245, 169, 184, 0.58);
    --accent-color: #fff;
    /* --primary-color: green;
    --secondary-color: gold;
    --blur-background: rgba(86, 131, 36, 0.8);
    --accent-color: olive; */
    --topbar-height: 60px;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    color: var(--primary-color);
}

.tooltip {
    position: relative;
}

.tooltip:hover:before {
    display: block;
    content: attr(data-tooltip, "tooltip");
    background-color: var(--second-background-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    bottom: 1em;
    max-width: 90%;
    position: absolute;
    padding: 3px 7px 1px;
    z-index: 999;
}