.MangaItem-Connector {
    flex-grow: 0;
    height: 14pt;
    font-size: 12pt;
    border-radius: 9pt;
    background-color: var(--primary-color);
    padding: 2pt 17px;
    color: black;
    width: fit-content;
    margin: 10px 0;
}

.MangaItem{
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 180px;
    height: 300px;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 14px 20px;
    position: relative;
    flex-shrink: 0;
}

.MangaItem::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    border-radius: 5px;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.2));
    z-index: 0;
}

.MangaItem > * {
    z-index: 1;
    position: relative;
}

.startSearchEntry::after{
    background: initial !important;
}

.MangaItem-Name{
    width: fit-content;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    margin: 5px 0 !important;
}

.MangaItem-Website {
    display: block;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 2;
}

.MangaItem-Status {
    display:block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 35px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px, rgb(51, 51, 51) 0px 0px 10px 3px;
}

.MangaItem-Status::after {
    content: attr(release-status);
    position: absolute;
    top: 0;
    right: 0;

    visibility: hidden;

    /*Text Properties*/
    font-size:10pt;
    font-weight:bold;
    color:white;
    text-align: center;

    /*Size*/
    padding: 3px 8px;
    border-radius: 6px;
    border: 0px;
    background-color: inherit;
}

.MangaItem-Status:hover::after{
    visibility:visible;
}

.MangaItem-Status[release-status="Ongoing"]{
    background-color: limegreen;
}

.MangaItem-Status[release-status="Completed"]{
    background-color: blueviolet;
}

.MangaItem-Status[release-status="On Hiatus"]{
    background-color: darkorange;
}

.MangaItem-Status[release-status="Cancelled"]{
    background-color: firebrick;
}

.MangaItem-Status[release-status="Upcoming"]{
    background-color: aqua;
}

.MangaItem-Status[release-status="Status Unavailable"]{
    background-color: gray;
}

.MangaItem-Cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    z-index: 0;
}

.MangaItem p {
    margin: 0;
}

.MangaItem[is-clicked="not-clicked"] .MangaItem-Description, .MangaItem[is-clicked="not-clicked"] .MangaItem-Tags, .MangaItem[is-clicked="not-clicked"] .MangaItem-Props{
    display: none !important;
}

.MangaItem[is-clicked="clicked"] .MangaItem-Description, .MangaItem[is-clicked="clicked"] .MangaItem-Tags, .MangaItem[is-clicked="clicked"] .MangaItem-Props{
    display: block;
    width: 80vw;
    background-color: white;
    padding: 3px;
}

.MangaItem-Tags {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
}

.MangaItem-Tags > * {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 2px 1px !important;
    white-space: nowrap;
    color: white;
    padding: 2px;
}

.MangaItem-Tags > * > * {
    margin: 0 2px !important;
    align-items: center;
}

.MangaItem-Tags a, .MangaItem-Tags a:visited {
    color: blue;
}

.MangaItem-Author {
    background-color: green;
}

.MangaItem-Tag {
    background-color: blue;
}

.MangaItem-Link{
    background-color: brown;
}

.MangaItem-Description {
    color: black;
    max-height: 40vh;
}

.MangaItem-Props {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
}