#QueuePopUp #QueuePopUpBody {
    display: flex;
    color: black;
}

#QueuePopUp #QueuePopUpBody > * {
    padding: 20px;
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    overflow-y: scroll;
}

#QueuePopUp #QueuePopUpBody h1 {
    padding: 0;
    margin: 0 0 5px 0;
    color: var(--primary-color);
}

#QueuePopUp #QueuePopUpBody > *:first-child {
    border-right: 1px solid var(--primary-color);
}

#QueuePopUp #QueuePopUpBody .JobQueue {
    display: flex;
    flex-direction: column;
}

.QueueJob {
    color: black;
    margin: 5px 0;
    position: relative;
    height: 200px;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 25% 20% auto 15% 12%;
    column-gap: 10px;
    grid-template-areas:
    "cover name"
    "cover jobType"
    "cover additionalInfo"
    "cover progress"
    "cover actions"
}

.QueueJob p {
    margin: 2px 0;
}

.QueueJob img{
    grid-area: cover;
    height: 100%;
    max-width: 100%;
}

.QueueJob .QueueJob-Name{
    grid-area: name;
    font-weight: bold;
    font-size: 14pt;
}

.QueueJob .JobType{
    grid-area: jobType;
}

.QueueJob .QueueJob-additionalInfo {
    grid-area: additionalInfo;
}

.QueueJob .QueueJob-actions {
    grid-area: actions;
    display: flex;
    justify-content: space-evenly;
}

.QueueJob .QueueJob-Cancel {
    grid-area: actions;
    width: 150px;
}

.QueueJob .QueueJob-Progressbar {
    grid-area: progress;
}