#QueuePopUp {
    position: absolute;
    left: 10%;
    top: 7.5%;
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 100;
    background-color: var(--second-background-color);
    border-radius: 10px;
    overflow: hidden;
}

#QueuePopUp #QueuePopUpHeader {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

#QueuePopUp #QueuePopUpHeader h1 {
    margin: 4px 10px;
    font-size: 20pt;
}

#QueuePopUp #closeSearch {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#QueuePopUp #QueuePopUpBody {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
}

#QueuePopUp #QueuePopUpBody > * {
    padding: 20px;
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    overflow-y: scroll;
}

#QueuePopUp #QueuePopUpBody h1 {
    padding: 0;
    margin: 0 0 5px 0;
}

#QueuePopUp #QueuePopUpBody > *:first-child {
    border-right: 1px solid var(--primary-color);
}

#QueuePopUp #QueuePopUpBody .JobQueue {
    display: flex;
    flex-direction: column;
}

.QueueJob {
    color: black;
    margin: 5px 0;
    position: relative;
    height: 200px;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 20% 20% auto;
    column-gap: 10px;
    grid-template-areas:
    "cover name"
    "cover jobType"
    "cover additional"
}

.QueueJob img{
    grid-area: cover;
    height: 100%;
}

.QueueJob .QueueJob-Name{
    grid-area: name;
    font-weight: bold;
    font-size: 14pt;
}

.QueueJob .JobType{
    grid-area: jobType;
}

.QueueJob .QueueJob-additional {
    grid-area: additional;
}