#SearchBox{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px 0;
}

#SearchResults {
    max-width: 100vw;
}

#SearchBox select, #SearchBox button, #SearchBox input {
    border-color: var(--accent-color);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-top-width: 2px;
    padding: 2px 5px;
    font-size: 12pt;
}

#Searchbox-Manganame {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-left-width: 2px;
    border-right-width: 0;
    width: 300px;
}

#Searchbox-connector {
    border-left-width: 0;
    border-right-width: 0;
    width: max-content;
}

#Searchbox-language {
    border-left-width: 0;
    border-right-width: 0;
    width: 90px;
}

#Searchbox-button {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-left-width: 0;
    border-right-width: 2px;
    width: 90px;
}