#Settings {
    height: 100%;
    display: flex;
    align-items: center;
}

#Settings > * {
    height: 80%;
}

#Settings > div > img {
    height: calc(100% - 10px);
    margin: 5px;
    filter: invert(100%) sepia(20%) saturate(7480%) hue-rotate(179deg) brightness(121%) contrast(102%);
}

#SettingsPopUpBody {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#SettingsPopUpBody > * {
    margin: 5px 2px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0 5px;
    max-width: calc(100% - 10px);
    min-width: calc(30% - 10px);
    flex-grow: 1;
    flex-basis: 0;
}

#SettingsPopUpBody > * > .LocalLibraryFunctions, #SettingsPopUpBody > * > div > .NotificationConnectorItem {
    border: 1px solid var(--primary-color);
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
    margin: 5px -5px -1px -5px;
    padding: 5px;
}

#SettingsPopUpBody > *:has(.NotificationConnectorItem) {
    width: 100%;
    flex-basis: 100%;
}

#SettingsPopUpBody label {
    width: max-content;
    margin-right: 5px;
}

#SettingsPopUpBody label::after {
    content: ':';
}

#SettingsPopUpBody button {
    padding: 0 15px;
}

#SettingsPopUpBody h1, #SettingsPopUpBody h2, #SettingsPopUpBody h3 {
    border: 0;
    margin: 5px 0 2px 0;
    padding: 0;
}

.settings-requestLimits {
    display: flex;
    flex-direction: column;
}

.settings-requestLimits input {
    width: min-content;
}