{
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 80,
    "semi": true,
    "bracketSpacing": true,
    "objectWrap": "collapse",
    "bracketSameLine": true,
    "singleAttributePerLine": true
}
