@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
    --color-pink: #f5a9b8;
    --color-blue: #5bcefa;
}

:root {
    --mangacover-width: 240px;
    --mangacover-height: 350px;
    --mangacover-width-sm: 180px;
    --mangacover-height-sm: 260px;
}
