.manga-card-badge {
    margin: 16px 18px 0 0;
}

.manga-card {
    width: 220px;
    height: 300px;
}

.manga-card-cover {
}

.manga-card-cover-blur {
    background: linear-gradient(
        150deg,
        rgba(245, 169, 184, 0.8) 50%,
        rgba(91, 206, 250, 0.3)
    );
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px) brightness(70%);
    -webkit-backdrop-filter: blur(2px) brightness(70%);
}

.manga-card-content {
}
