.manga-card {
  width: 220px;
  height: 300px;
}

.manga-cover-blur {
  background: linear-gradient(
    135deg,
    rgba(245, 169, 184, 0.85) 40%,
    rgba(91, 206, 250, 0.3)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  )backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.manga-card-badge-icon {
  width: 25px;
  height: 25px;
}

.manga-modal {
  width: 90%;
  margin: auto;
}
