@keyframes spin {
    from {transform: translate(-50%, -50%) rotate(0);}
    to   {transform: translate(-50%, -50%) rotate(360deg);}
}


.t-loadable[aria-disabled="true"] {
    --border-radius: 5px;
    --border-size: 2px;
    --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);

    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    border: none;    
    z-index: 0;

    &::before {
        content: '';
        display: block;
        background: var(--border-bg);
        width: calc(100% * 1.41421356237);
        padding-bottom: calc(100% * 1.41421356237);
        position: absolute;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        z-index: -1 !important;
        animation: spin 5s linear infinite;
    }
    &--reverse::before{
        animation-direction: reverse;
    }
    &::after{
        content: '';
        position: absolute;
        inset: var(--border-size);
        z-index: -1;
        border-radius: calc(var(--border-radius) - var(--border-size));
        background: var(--joy-palette-primary-500);
    }
}

.t-loadable[aria-disabled="true"]:has(input)::after {
    background: black;
}

.t-loadable[aria-disabled="true"]:is(button) {
    color: var(--joy-palette-text-primary);
}